<% content_for :header_tags do %>
<%= javascript_include_tag  'main', 'backlog', 'item', :plugin => 'redmine_backlogs', :cache => 'backlogsjs/all' %>
<%= stylesheet_link_tag 'common', 'index', 'item', :plugin => 'redmine_backlogs', :media => 'screen, print' %>
<% end %>

<% content_for :breadcrumbs do %>
<%= @project.name %>
<% end %>

<% content_for :page_specific_links do %>
<a href="#">Hide closed backlogs</a>
<% end %>

<div id="backlogs">
  <%- @backlogs.each do |backlog| %>
    <%- unless @hide_closed_backlogs && backlog.is_closed? %>
    <div class="backlog <%= backlog.is_closed? ? "closed" : "" %>">
      <div class="header">
        <span class="name"><%= link_to backlog.version.name, backlog_path(backlog.id) %></span>
        <span class="due_date"><%= backlog_date(backlog.version, "effective_date") %></span>
      </div>
      <ul class="list">
        <%= render :partial => "items/item", :collection => @items.select{|item| item.backlog_id==backlog.id} %>
      </ul>
    </div>
    <%- end %>
  <%- end %>
</div>

<div id="main_backlog">
  <div class="backlog main">
    <div class="header">
      <span class="name">Main Backlog</span>
    </div>
    <ul class="list">
      <%= render :partial => "items/item", :collection => @items.select{|item| item.backlog_id==0} %>
    </ul>
  </div>
</div>

<div id="dialogs">
  <div class="move">
    Move selected items to
    <select>
      <option>Main Backlog</option>
      <option>The quick brown fox jumps over the lazy dog.</option>
    </select>
  </div>
</div>

<select class="status_id" id="status_id_options">
  <%- IssueStatus.find(:all, :order => "position ASC").each do |status| %>
  <option value="<%= status.id %>" class="<%= (status.is_closed? ? "closed" : "") %>"><%= status.name %></option>
  <%- end %>
</select>
