<% content_for :header_tags do %>
<%= stylesheet_link_tag 'common', 'index', 'item', :plugin => 'redmine_backlogs', :media => 'screen, print' %>
<%= javascript_include_tag  'main', 'backlog', 'item', :plugin => 'redmine_backlogs', :cache => 'backlogsjs/all' %>
<% end %>

<% content_for :breadcrumbs do %>
Totally Awesome Project
<% end %>

<% content_for :page_specific_links do %>
<a href="#">Hide closed backlogs</a>
<% end %>

<div id="backlogs">
  <%- @backlogs.each do |backlog| %>
    <%- unless @hide_closed_backlogs && backlog.is_closed? %>
    <div class="backlog <%= backlog.is_closed? ? "closed" : "" %>">
      <div class="header">
        <span class="name"><%= backlog.version.name %></span>
        <span class="due_date"><%= backlog_date(backlog.version, "effective_date") %></span>
      </div>
      <ul><%= render :partial => "items/item", :collection => @items.select{|item| item.backlog_id==backlog.id} %></ul>
    </div>
    <%- end %>
  <%- end %>
</div>

<div id="main_backlog">
</div>