<% content_for :header_tags do %>
<%= stylesheet_link_tag 'common', 'show', :plugin => 'redmine_backlogs', :media => 'screen, print' %>
<% end %>

<% content_for :breadcrumbs do %>
<%= link_to @project.name, :controller => "backlogs", :action => "index", :project_id => @project %> : <%= @backlog.version.name %>
<% end %>

<table id="sprint" cellspacing="0">
  <tr>
    <td class="story">Story</td>
    <td>New</td>
    <td>In Progress</td>
    <td>Review</td>
    <td>Done</td>
  </tr>
  <%- 4.times do |i| %>
  <tr>
    <td class="story">01012 The quick brown fox jumps over the lazy dog</td>
    <%- 4.times do |j| %>
    <td class="list" id="list_<%= "#{i}#{j}" %>">
      <%- 4.times do |k| %>
      <div class="task instance" id="task_<%= "#{i}#{j}#{k}" %>"><%= "#{i}#{j}#{k}" %> The quick brown fox jumps over the lazy dog</div>
      <%- end %>
      &nbsp;
    </td>
    <%- end %>
  </tr>
  <%- end %>
</table>

<script type="text/javascript">
	$(function() {
		$(".list").sortable({ connectWith: '.list' });
		$(".list").disableSelection();
	});
	</script>